@model List<Camera>
@{
    ViewData["Title"] = "Lista Camere";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>CameraID</th>
            <th>Numero</th>
            <th>Tipo</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var camera in Model)
            {
                <tr>
                    <td>@camera.CameraId</td>
                    <td>@camera.Numero</td>
                    <td>@camera.Tipo</td>
                    <td>@camera.Prezzo</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@camera.CameraId" class="btn btn-primary">Modifica</a>
                        <a asp-action="Delete" asp-route-id="@camera.CameraId" class="btn btn-danger">Elimina</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

