@using HotelDbProject.ViewModels
@model List<PrenotazioneViewModel>
@{
    ViewData["Title"] = "Lista Prenotazioni";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>PrenotazioneId</th>
            <th>ClienteId</th>
            <th>CameraID</th>
            <th>Data Arrivo</th>
            <th>Data Partenza</th>
            <th>Stato prenotazione</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.PrenotazioneId</td>
                    <td>@prenotazione.ClienteId</td>
                    <td>@prenotazione.CameraId</td>
                    <td>@prenotazione.DataInizio.ToShortDateString()</td>
                    <td>@prenotazione.DataFine.ToShortDateString()</td>
                    <td>@prenotazione.StatoPrenotazione</td>
                    
                    <td>
                        <button class="btn btn-warning btn-sm"
                                onclick="openEditModal('@prenotazione.PrenotazioneId')">
                            Edit
                        </button>

                        <button class="btn btn-danger btn-sm"
                                onclick="openDeleteModal('@prenotazione.PrenotazioneId')">
                            Delete
                        </button>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="editModalContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="deleteModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function openEditModal(id) {
            $.get("/Prenotazione/Edit?id=" + id, function (data) {
                $("#editModalContent").html(data);
                $("#editModal").modal('show');
            });
        }

        function openDeleteModal(id) {
            $.get("/Prenotazione/Delete?id=" + id, function (data) {
                $("#deleteModalContent").html(data);
                $("#deleteModal").modal('show');
            });
        }
    </script>
}
